@model ProyectoFinalModel.Curso

@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/Account/Login");
}


<h2>Editar curso</h2>

<section class="content">

    <div class="class=" col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Editar Curso</h3>
            </div>

            <form class="input-horizontal">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="NNuIdCurso" class="control-label">IdCurso:</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IdCurso, new { htmlAttributes = new { @id = "txtIdCurso", @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="NNuNivel" class="control-label">Nivel:</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Nivel, new { htmlAttributes = new { @id = "txtNivel", @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="NNuDescripcion" class="control-label">Descripción:</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @id = "txtDescripcion", @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="input-group">
                            <label for="CCiMaquina" class="control-label">Id Curso</label>
                            @Html.EditorFor(model => model.IdCurso, new { htmlAttributes = new { @id = "txtIdCurso", @class = "form-control", disabled = "disabled" } })
                        </div>

                        <div class="input-group">
                            <label for="CDsMaquina" class="control-label">Nivel</label>
                            @Html.EditorFor(model => model.Nivel, new { htmlAttributes = new { @id = "txtNivel", @class = "form-control" } })
                        </div>

                        <label for="NNuTonelaje" class="control-label">Descripción</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @id = "txtDescripcion", @class = "form-control" } })
                        </div>*@

                    <div class="checkbox">
                        <label class="radio">
                            @if (Model.Estado == "A")
                            {
                                <input type="checkbox" name="chkEstado" , checked>
                            }
                            else
                            {
                                <input type="checkbox" name="chkEstado" />
                            }
                            Activo
                        </label>
                    </div>

                </div>

                <div class="box-footer">
                    <input type="button" class="btn btn-primary" id="btnGenerar" value="Grabar" />
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">

    $('#btnGenerar').on('click', function () {
        var IdCurso = document.getElementById("txtIdCurso").value;
        var Nivel = document.getElementById("txtNivel").value;
        var Descripcion = document.getElementById("txtDescripcion").value;
        var Estado = "A";

        var chkestado = $('input[name="chkEstado"]').is(':checked')

        if (chkestado == false) {
            Estado = "I";
        }

        var previousWindowKeyDown = window.onkeydown;

        var jsonCad = "{'IdCurso':'" + IdCurso + "'";
        jsonCad = jsonCad + ", 'Nivel': '" + Nivel + "'";
        jsonCad = jsonCad + ", 'Descripcion': '" + Descripcion + "'";
        jsonCad = jsonCad + ", 'Estado': '" + Estado + "'";
        jsonCad = jsonCad + "}";

        swal({
            title: "Curso ",
            text: "Esta seguro que desea grabar los datos",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function (isConfirm) {
            window.onkeydown = previousWindowKeyDown;
            if (isConfirm) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Curso/Create",
                        data: jsonCad,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            if (data.bResultado) {
                                swal("Saved", data.Message, "success");

                                window.setTimeout(function () {
                                    location.href = '@Url.Action("Index", "Curso")';
                                }, 1000);

                            }
                            else {
                                swal("Cancelled", data.Message, "error");
                            }
                        }
                    }
                )
            }
        });
    });
</script>
