@model ProyectoFinal.Models.ChangePasswordViewModel

<h2>Cambiar Contraseña</h2>

<div class="content">
    <div class="row">
        <div class="col">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Cambio de Contraseña </h3>
                </div>

                <div class="box-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label">Contraseña actual:</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nueva contraseña:</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">                            
                            <label class="col-md-2 control-label">Confirmar contraseña:</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Cambiar Contraseña" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>    

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}